@import url('../_fonts.scss');

.color-block {
  display: flex;
  flex-direction: row;
}

.block-color {

  &__item {
    display: flex;
    align-items: center;
    min-width: 570px;
    margin-bottom: 20px;
    list-style-type: none;
    &-bg {
      display: inline-block;
      border-radius: 6px;
      background-color: #1F2041;
      width: 70px;
      height: 70px;
    }
    &-text {
      display: flex;
      flex-direction: column;
      margin-left: 39px;
      font-size: 20px;
      line-height: 28px;
      &-name {
        font-weight: 700;
      }
      &-hash {
        margin-top: 2px;
        letter-spacing: 0.2px;
        font-size: 1.19rem;
        font-family: 'Montserrat-Regular', 'Arial', sans-serif;
      }
    }
  }
}

.block-font {

  &__item {
    display: flex;
    margin-left: 86px;
    margin-bottom: 50px;
    list-style-type: none;
    &-log {
      display: flex;
      justify-content: flex-end;
      width: 37px;
      &-h1 {
        font-family: 'Montserrat-Regular', 'Arial', sans-serif;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 700;
        color: rgba(31, 32, 65, 0.25);
      }
      &-h2 {
        font-family: 'Montserrat-Regular', 'Arial', sans-serif;
        text-transform: uppercase;
        font-size: 1.19rem;
        line-height: 1.5rem;
        font-weight: 700;
        color: rgba(31, 32, 65, 0.25);
      }
      &-h3 {
        font-family: 'Montserrat-Regular', 'Arial', sans-serif;
        font-size: 0.75rem;
        text-transform: uppercase;
        font-weight: 700;
        color: rgba(31, 32, 65, 0.25);
      }
      &-body {
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: rgba(31, 32, 65, 0.25);
      }
    }
    &-descr {
      width: 370px;
      margin-left: 30px;
    }

  }
}