.col-3 {
  width: 33%;
  padding: 12px 0 15px 31px;
}
.name-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  width: 320px;
  height: 14px;
  &__state {
    line-height: 8px;
    color: rgba(31, 32, 65, 0.5);
  }
}

// Элемент text-field

.text-field {
  &__input {
    width: 320px;
    height: 44px;
    padding: 13px 0 13px 15px;
    margin-bottom: 21px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    letter-spacing: -0.3px;
    &::-webkit-input-placeholder {
      color: rgba(31, 32, 65, 0.25);
    }
    &::-moz-placeholder {
      color: rgba(31, 32, 65, 0.25);
     }
     &:hover {
      border: 1px solid rgba(31, 32, 65, 0.5);
     }
     &:focus {
      outline-color: rgba(31, 32, 65, 0.5);
     }
  }
}
