block Input
	.text-field 
		input(type="Email" placeholder="Email").text-field__input

	.name-block
		span.name-block__name.h3 Text Field
		span.name-block__state.h3-regular Hover / Focus
	
	.text-field 
		input(type="Email" placeholder="This is pretty awesome").text-field__input